<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Saira:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Saira:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pekaboo</title>
</head>
<body>
    <div class="header">
        
            <div class="logo"><a href="/">PeekaBoo</a></div>
            <div class="heading"><h1>PeekaBoo Blogs</h1></div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="../contact.ejs">CONTACT</a></li>
                    <li><a href="../about.ejs">ABOUT</a></li>
                </ul>
            </nav>
    </div>
    </body>
    <main>