<%- include("partials/header.ejs") %>

<div class="createPost">
    <h1>Edit Blog</h1>
    <form action="/edit/<%= blogId %>" method="POST" id="editBlogForm" class="blog-form">
        <div class="large-row">
            <input type="text" name="bloghead" placeholder="Edit the Title :" value="<%= blog.heading %>" required class="bloghead">
        </div>

        <div class="row1">
            <textarea type="textfield" name="blog" placeholder="Edit the Content:" required class="blog"><%= blog.content %></textarea>
        </div>

        <div class="row1">
            <input type="submit" value="Save Changes" name="editedblog" class="editedblog">
        </div>
    </form>
</div>

<script>
    document.getElementById("editBlogForm").addEventListener("submit", function() {
        alert("Changes saved successfully!!");
    });
</script>
